page-term-services {
    .image{
        width: 35%;
        height: 25%;
        margin-left: 35%;
        

    }
    .estilo-md{
        font-family: 'Lucida Sans Unicode';
        margin-left: 5%;
        margin-right: 5%;
        font-size: 14px;
        text-align: center;
    }
}
