<ion-header>

  <ion-navbar color="wscolor">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      {{'Categorias'| translate }}
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only class="cart-button" (click)="openCart()">
        <ion-icon name="cart">
          <ion-badge color="accent-color">{{shared.cartquantity}}</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let c of shared.categories" (click)="openSubCategories(c.id)" class="animated flipInX">
        <ion-card [ngStyle]="{ 'background-image': 'url(' + config.imgUrl+c.image + ')'}">
          <div class="categories-title">
            <!--<div *ngIf="c == rmen">-->
            <h2>{{c.name}}</h2>
              <br>
            <h2>
              <small>{{c.total_products}} {{'Productos'| translate }}</small>
            </h2>
            <!--</div>-->
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>